.bg-green-section{
    background-color: #1abc9c;
}

.bg-purple-section{
    background-color: #3a546d;
}

#header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
}

#header h1{
    font-size: 50px !important;
}

#header img{
    width: 250px;
    aspect-ratio: 1;
}

#header i{
    font-size: 30px;
}

#header ul a{
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.white-line{
    height: 4px;
    display: inline-block;
    width: 15%;
    background-color: white;
    border-radius: 20px;
}

.dark-line{
    height: 4px;
    display: inline-block;
    width: 15%;
    background-color: #333333;
    border-radius: 20px;
}

#about{
    color: white;
}

.container-small{
    width: 50%;
    margin: auto;
}

#about{
    text-align: center;
}

input[type=text],
input[type=email],
input[type=phone],
textarea {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    opacity: 0.5;
    margin-bottom: 1rem;
}

.label{
    display: block;
}

#pre-footer{
    color: white;
}

#pre-footer a{
    text-decoration: none;
    color:white;
}

#pre-footer a i{
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    height: 45px;
    aspect-ratio: 1;
}

.green-text{
    color: #1cb89a;
}

#copyright-section{
    background-color: #2c3e50;
    color: white;
}
